{% extends 'layouts/auth_base.html' %}

{% block title %} Reset Complete {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Your password has been changed successfully.</p>
      <a href="/">Go to dashboard</a>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock %}
