{% extends 'layouts/auth_base.html' %}

{% block title %} Email sent {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">An email has been sent to your email address. Please click the link and reset your password.</p>

      <p class="mt-3 mb-1">
        <a href="{% url 'login' %}">Login</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'register' %}" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock %}
